<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Binding" version="4.3.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Core" version="4.3.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Platform" version="4.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="24.2.1" targetFramework="monoandroid70" />
</packages>