<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="net45" />
  <package id="MvvmCross.Tests" version="4.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
</packages>