#wrapper 
{
	position:relative;	/* needed */
	z-index:1;			/* needed and important */
	height:420px;		/* needed */
	overflow:hidden;	/* suggested */
}

#scroller 
{
	position:absolute;	/* optional. Seems to work with absolute, relative and without it */
	top:0;				/* optional */
	
	width:320px;
	padding:0px;
	/*background:#eee;*/
	/*background:rgba(178,187,194,0.5) url(../WebApp/Design/Img/bg.png);*/
}

/*
.iLayer h2 { background-color:rgba(190,190,190,0.89) }
.iLayer h2{margin:0;color:#fff;line-height:18px;font-size:18px;background:rgba(190,190,190,0.89) url(Img/bg-title.png) top repeat-x;padding:1px 12px;font-weight:bold;text-shadow:rgba(0,0,0,0.5) 0 1px 0;-webkit-box-sizing:border-box;height:22px;overflow:hidden;white-space:nowrap;width:100%;z-index:100}
*/

