
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.pidb
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.userprefs
AppPackages/
*.ncrunchproject
*.nupkg
*.sdf
*.opensdf

#NuGet
packages/
!packages/Microsoft.Office.js.1.0.0/
!packages/repositories.config

#Allow NuGet.exe (do not ignore)
!NuGet.exe
*.orig

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#CocoaPods
Pods

#Remove Xamarin Components - hope they autodownload
Components/
nuspec/nuget.exe
