-
  branches:
      only:
        - master
  version: 1.0.{build}
  image: Visual Studio 2017
  environment:
    NUGET_SOURCE: https://www.nuget.org/api/v2/package
    NUGET_APIKEY:
      secure: I7T89cNuXIoOooGTaZm/nKrJ5JwZpt3F82D6Y7bJoxO5yQ6hpDnz0xQhef/KKr0G
  build_script:
  - ps: .\build.ps1 -verbosity Diagnostic
  test: off
-
  branches:
      only:
        - develop
  version: 1.0.{build}
  image: Visual Studio 2017
  environment:
    NUGET_SOURCE: https://www.myget.org/F/mvvmcross/api/v2/package
    NUGET_APIKEY:
      secure: m3uewWCh6Y5jqTZIfwMDfs8GWdbwTZjfiEl13AWY7T3u3bPspGA/lgwe8jdxjBm9
  build_script:
  - ps: .\build.ps1 -verbosity Diagnostic
  test: off
