-
  branches:
      only:
        - master
        - /release\/.*/
  version: 1.0.{build}
  image: Previous Visual Studio 2017
  environment:
    NUGET_SOURCE: https://www.nuget.org/api/v2/package
    NUGET_APIKEY:
      secure: odCUzBq+YWTrwvRhhuQZP1uldezh8PJRn79miIgZnZrDbruYkP9aoJAlTcat5AGh
  build_script:
  - ps: .\build.ps1
  test: off
  cache:
  - packages -> **\packages.config
-
  branches:
      only:
        - develop
  version: 1.0.{build}
  image: Previous Visual Studio 2017
  environment:
    NUGET_SOURCE: https://www.myget.org/F/mvvmcross/api/v2/package
    NUGET_APIKEY:
      secure: m3uewWCh6Y5jqTZIfwMDfs8GWdbwTZjfiEl13AWY7T3u3bPspGA/lgwe8jdxjBm9
  build_script:
  - ps: .\build.ps1
  test: off
  cache:
  - packages -> **\packages.config