<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Binding" version="4.2.2" targetFramework="monoandroid60" />
  <package id="MvvmCross.Core" version="4.2.2" targetFramework="monoandroid60" />
  <package id="MvvmCross.Droid.Shared" version="4.2.2" targetFramework="monoandroid60" />
  <package id="MvvmCross.Platform" version="4.2.2" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0" targetFramework="monoandroid60" />
</packages>