<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Core" version="4.1.5" targetFramework="wp8" />
  <package id="MvvmCross.Platform" version="4.1.5" targetFramework="wp8" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="wp8" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="wp8" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="wp8" />
  <package id="sqlite-net-wp8" version="3.8.5" targetFramework="wp8" />
</packages>