<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Moq" version="4.5.10" targetFramework="net45" />
  <package id="MvvmCross.Core" version="4.2.2" targetFramework="net45" />
  <package id="MvvmCross.Platform" version="4.2.2" targetFramework="net45" />
  <package id="MvvmCross.Tests" version="4.2.2" targetFramework="net45" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
</packages>