<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MasterDetailExample.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="MasterDetailExample.Droid"></application>
</manifest>