<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-beta7" targetFramework="monoandroid50" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-beta7" targetFramework="monoandroid50" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="monoandroid6" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="monoandroid6" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="monoandroid6" />
</packages>