/* ajust textboxes with labels */
.iPanel label + textarea,
.iPanel label + input[type] {
    padding-left:95px; text-align:right;
}

#iHeader {
    -webkit-transform:translateX(0);
    -webkit-transition:background-color 0.35s linear;
/*  background:url(img/artist-1.gif) bottom right;*/
}


#list-loader .iLoader {

    text-align:left;
}


#waImages span {
    display:block;
    margin:0 auto;
    width:302px;
}

#waImages div:not(.iBlock) {
    padding:10px;
    background:white;
}

#waImages img { border:solid 1px #b3b3b3 }
#waImages img[load] { background:#d6dce6 url(Img/bg-img.png) repeat-x }

/*
#waHeadTitle {
    color:#553a0d;
    text-shadow:rgba(255,255,255,0.5)  0 1px 0;
}

#WebApp { background:#eee }

.iMore:not(.__lod):active,
li.iRadio.__sel,
.iMenu li.__sel,
.iList li.__sel { background-color:#888 }

.iMenu ul {
    -webkit-border-radius:4px;
}

.iMenu li:first-child,
.iMenu li:first-child a,
.iPanel li:first-child,
.iPanel li:first-child a {
    -webkit-border-top-right-radius:4px;
    -webkit-border-top-left-radius:4px;
}
.iMenu li:last-child,
.iMenu li:last-child a,
.iPanel li:last-child,
.iPanel li:last-child a {
    -webkit-border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
}*/