<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Binding" version="4.2.1" targetFramework="monoandroid60" />
  <package id="MvvmCross.Core" version="4.2.1" targetFramework="monoandroid60" />
  <package id="MvvmCross.Droid.Shared" version="4.2.1" targetFramework="monoandroid60" />
  <package id="MvvmCross.Platform" version="4.2.1" targetFramework="monoandroid60" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0" targetFramework="monoandroid60" />
</packages>