<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="portable-net45+win+wpa81+wp80+MonoTouch10+MonoAndroid10+xamarinmac20+xamarintvos10+xamarinwatchos10+xamarinios10" />
</packages>