<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="5.3.2" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Binding" version="5.3.2" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Core" version="5.3.2" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Forms" version="5.3.2" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Platform" version="5.3.2" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.Json" version="5.3.2" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.JsonLocalization" version="5.3.2" targetFramework="portable45-net45+win8" />
  <package id="MvvmCross.Plugin.ResourceLoader" version="5.3.2" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="portable45-net45+win8+wpa81" />
</packages>