<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Exif" version="27.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Build.Download" version="0.4.9" targetFramework="monoandroid81" />
</packages>