<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-beta3" targetFramework="monotouch1" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-beta3" targetFramework="monotouch1" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="monotouch1" />
  <package id="SQLite.Net.Async-PCL" version="3.0.5" targetFramework="monotouch1" />
</packages>