<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Binding" version="4.2.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Core" version="4.2.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Platform" version="4.2.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Plugin.Json" version="4.2.0" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v14.Preference" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v17.Leanback" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v17.Preference.Leanback" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.Preference" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0" targetFramework="monoandroid60" />
</packages>