<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5c0e9293-04f7-4b54-81b1-f9a92908a4de" Publisher="CN=Stuart" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Tutorial.UI.WinRT</DisplayName>
    <PublisherDisplayName>Stuart</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tutorial.UI.WinRT.App">
      <VisualElements DisplayName="Tutorial.UI.WinRT" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Tutorial.UI.WinRT" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>