<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-alpha9" targetFramework="xamarinios1" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-alpha9" targetFramework="xamarinios1" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="4.0.0-alpha9" targetFramework="xamarinios1" />
  <package id="Xamarin.Forms" version="1.4.3.6376" targetFramework="xamarinios1" />
</packages>