<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-beta5" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-beta5" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="4.0.0-beta5" targetFramework="win81" />
  <package id="Xamarin.Forms" version="2.0.0.6482" targetFramework="win81" />
</packages>