---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Proxima Nova', 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #4c555a;
$background-color: #fdfdfd;
$brand-color:      #00ac65;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

//custom styling starts here

.header-logo
{
    width: 129px;
    height: 40px;
}

.site-header
{
    background-color: #00ac65;
    background-image: url({{ site.baseurl }}/img/triangles.png);
    border-bottom: 0px;
}

.site-nav .page-link {
    color: rgba(255,255,255,0.8);
    line-height: 1.5;
}

.landing-intro
{
    background: #2D2D2D;
    background: url({{ site.baseurl }}/img/intro-bg.jpg) no-repeat center center;
    padding: 150px 0;
    color: #FDF3E7;
    font-weight: 300;
    margin-top: -30px;
    text-align: center;
}

.button {
  background: -webkit-linear-gradient( #9a9a9a, #646464);
  background: linear-gradient( #9a9a9a, #646464);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 12px;
  display: inline-block;
  color: #fafafa;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: none;
}

.buttons-unit .button {
  font-size: 24px;
  background: $brand-color;
  color: #fafafa;
}

.landing-title
{
    font-weight: 400;
    font-size: 64px;
    text-shadow: 1px 0px #000000;
}

$documentation-menu-width: $content-width * 0.25;
.documentation-menu
{
    float:left;
}

$documentation-width: $content-width * 0.75;
.documentation
{
    float: right;
    width: $documentation-width;
}

.documentation-menu > ul > li {
    font-weight: bold;
}

.category
{
    padding:8px 0;
    text-transform: uppercase;
}
//reset list

ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}
