---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Proxima Nova', 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #4c555a;
$background-color: #fdfdfd;
$brand-color:      #69f0ae;

$grey-color:       #828282;
$grey-color-super-light: lighten($grey-color, 45%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

//custom styling starts here

h2,h3,h4,h5,h6
{
    color: $brand-color;
}
.page-content{
    padding: 0px;
    padding-top: 20px;
}
.header-logo
{
    width: 129px;
    height: 40px;
}

.site-header
{
    background-color: #FFF;
    border-bottom: 2px solid #69f0ae;
    border-top:0px;
}

.site-nav .page-link {
    color: #37474f;
    line-height: $base-line-height;
    font-size: 16px;
	font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .site-nav .page-link {
        color: $text-color;
    }
}

.landing-intro
{
    background: #2D2D2D;
    background: url({{ site.baseurl }}/img/intro-bg.jpg) no-repeat center center;
    padding: 150px 0;
    color: #FFF;
    font-weight: 300;
    margin-top: -30px;
    text-align: center;
}

.button {
  color: $text-color;
  padding: 5px 10px 5px 10px;
  border: solid $grey-color 1px;
  text-decoration: none;
  font-size: $small-font-size;
}

.button:hover {
  background: $grey-color-super-light;
  text-decoration: none;
}

.button:active {
  background: $grey-color-light;
  text-decoration: none;
}

.button-landing {
  background: -webkit-linear-gradient( #9a9a9a, #646464);
  background: linear-gradient( #9a9a9a, #646464);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 12px;
  display: inline-block;
  color: #fafafa;
  text-decoration: none;
  text-transform: uppercase;
}

.button-landing:hover {
  text-decoration: none;
}

.button-landing:active {
  box-shadow: none;
}

.buttons-unit .button-landing {
  font-size: 16px;
  background: $brand-color;
  color: #37474f;
}

.landing-title
{
    font-weight: 400;
    font-size: 30px;
    text-shadow: 1px 0px #000000;
    margin:0px;
    color:#FFF;
    font-weight: bold;
}
.landing-subtitle
{
    font-size: 24px;
}

$effective-content-width: $content-width - ($spacing-unit * 2);
$documentation-menu-width: $effective-content-width * 0.30;
.documentation-menu
{
    float:left;
    width: $documentation-menu-width - 10px;
    margin-right: 10px;
    ul
    {
        transition: opacity 0.1s;
        li
        {
            padding:0 -15px 0 0;
            a
            {
                font-size: 15px;
                color: $grey-color;
                font-family: 'Proxima Nova', 'Open Sans', sans-serif;
            }
            a.active
            {
                background-color: transparent;
                border: none;
                color: $text-color;
                text-decoration: underline;
            }
        }
    }
}

.active
{
    background-color: #00ac65;
    color:#FFF;
    border-radius: 2px;
    border: 2px solid #00ac65;
    width: 100%;
}

$documentation-width: $effective-content-width * 0.70;
.documentation
{
    float: right;
    width: $documentation-width - 20;
    padding: 10px;
}

@media screen and (max-width: $effective-content-width) {
    .documentation
    {
        float: right;
        width: 100%;
    }
}

a:visited {
    color: $brand-color;
}

.category
{
    padding:8px 0;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.category:hover {
    cursor: hand;
    color: #00ac65;
}

.description
{
    background-color: #eceff1;

    .wrapper
    {
        text-align: center;

        .description-text
        {
            padding:60px 0;

            h2
            {
                font-size: 30px;
                color: #37474f;
                font-weight: bold;
                margin-bottom: 0px;
            }

            div
            {
                font-size: 24px;
                color: #37474f;
                line-height: 1.25;
            }

        }
    }
}

.companies
{
    background-color: #FFF;
    padding-bottom: 50px;

    .wrapper
    {
        text-align: center;

        .company-text
        {
            padding:60px 0;

            h2
            {
                font-size: 30px;
                color: #37474f;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0px;
            }

            div
            {
                font-size: 24px;
                color: #37474f;
                line-height: 1.25;
            }

        }
    }
}

.sponsors
{
    background-color: #eceff1;
    padding-bottom: 50px;

    .wrapper
    {
        text-align: center;

        .sponsors-text
        {
            padding:60px;

            h2
            {
                font-size: 30px;
                color: #37474f;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0px;
            }

            div
            {
                font-size: 24px;
                color: #37474f;
                line-height: 1.25;
            }

        }
    }
}

.company-col
{
    float:left;
    width: $effective-content-width * 0.33;

    img {
        height: 60px;
        padding: 10px;
    }
}

.landing-page
{
    margin: 0 auto;
}

input[type="submit"] {
	margin: 30px 0 0 0;
	font-size: 20px;
}

.search {
	width: 50%;
	margin: 0 auto;
	padding: 100px 0;
}

.searching-text
{
    display: none;
}

//footer
.footer-heading{border-bottom: 1px solid #ddd;}
.blog-list
{
    li
    {
        a
        {
            color: #FFF;
            font-size: 15px;
        }
    }
}

.site-footer
{
    background:#37474f;
    color:#FFF;

    h2, h3, h4, h5, h6 {
        color:#FFF;
    }
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

//reset list
.menu {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

.documentation-header {
    display: block;
    clear:both;
}

.documentation-title {
    float: left;
}

.documentation-edit {
    float: right;
}

.documentation-content {
    clear: both;
}

table { padding: 0; border-spacing: 0px;}
table tr 
{
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; 
}
table tr:nth-child(2n) 
{
    background-color: #f8f8f8; 
}
table tr th 
{
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child 
{
    margin-top: 0; 
}
table tr th :last-child, table tr td :last-child 
{
      margin-bottom: 0; 
}

//syntax highlighting

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #008000 } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #0000ff } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #0000ff } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #0000ff } /* Keyword.Constant */
.highlight .kd { color: #0000ff } /* Keyword.Declaration */
.highlight .kn { color: #0000ff } /* Keyword.Namespace */
.highlight .kp { color: #0000ff } /* Keyword.Pseudo */
.highlight .kr { color: #0000ff } /* Keyword.Reserved */
.highlight .kt { color: #2b91af } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #2b91af } /* Name.Class */
.highlight .ow { color: #0000ff } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */