---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Proxima Nova', 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #4c555a;
$background-color: #fdfdfd;
$brand-color:      #69f0ae;

$grey-color:       #828282;
$grey-color-super-light: lighten($grey-color, 45%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

//custom styling starts here

h2,h3,h4,h5,h6
{
    color: $brand-color;
}

.header-logo
{
    width: 129px;
    height: 40px;
}

.site-header
{
    background-color: #FFF;
    border-bottom: 2px solid #69f0ae;
    border-top:0px;
}

.site-nav .page-link {
    color: #37474f;
    line-height: $base-line-height;
}

@media screen and (max-width: 600px) {
    .site-nav .page-link {
        color: $text-color;
    }
}

.landing-intro
{
    background: #2D2D2D;
    background: url({{ site.baseurl }}/img/intro-bg.jpg) no-repeat center center;
    padding: 150px 0;
    color: #FFF;
    font-weight: 300;
    margin-top: -30px;
    text-align: center;
}

.button {
  color: $text-color;
  padding: 5px 10px 5px 10px;
  border: solid $grey-color 1px;
  text-decoration: none;
  font-size: $small-font-size;
}

.button:hover {
  background: $grey-color-super-light;
  text-decoration: none;
}

.button:active {
  background: $grey-color-light;
  text-decoration: none;
}

.button-landing {
  background: -webkit-linear-gradient( #9a9a9a, #646464);
  background: linear-gradient( #9a9a9a, #646464);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 12px;
  display: inline-block;
  color: #fafafa;
  text-decoration: none;
  text-transform: uppercase;
}

.button-landing:hover {
  text-decoration: none;
}

.button-landing:active {
  box-shadow: none;
}

.buttons-unit .button-landing {
  font-size: 16px;
  background: $brand-color;
  color: #37474f;
}

.landing-title
{
    font-weight: 400;
    font-size: 30px;
    text-shadow: 1px 0px #000000;
    margin:0px;
    color:#FFF;
    font-weight: bold;
}
.landing-subtitle
{
    font-size: 24px;
}

$effective-content-width: $content-width - ($spacing-unit * 2);
$documentation-menu-width: $effective-content-width * 0.30;
.documentation-menu
{
    float:left;
    width: $documentation-menu-width - 10px;
    padding-bottom: 30px;
    margin-right: 10px;
    ul
    {
        overflow:hidden; 
        overflow-y:scroll;

        li
        {
            padding:0 -15px 0 0;
            a
            {
                font-size: 15px;
                color: #bbb;
                font-family: 'Proxima Nova', 'Open Sans', sans-serif;
            }
        }
    }
}


.active
{
    background-color: #00ac65;
    color:#FFF;
    border-radius: 2px;
    border: 2px solid #00ac65;
    width: 100%;
}

$documentation-width: $effective-content-width * 0.70;
.documentation
{
    float: left;
    width: $documentation-width;
}

@media screen and (max-width: $effective-content-width) {
    .documentation
    {
        float: right;
        width: 100%;
    }
}

a:visited {
    color: $brand-color;
}

.category
{
    padding:8px 0;
    text-transform: uppercase;
    font-weight: bold;
}


//footer
.footer-heading{border-bottom: 1px solid #ddd;}
.blog-list 
{
    li
    {
        a
        {
            color: #888;
            font-size: 15px;
        }
    }
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

//reset list
ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

.documentation-header {
    display: block;
    clear:both;
}

.documentation-title {
    float: left;
}

.documentation-edit {
    float: right;
}

.documentation-content {
    clear: both;
}