<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Binding" version="4.1.0" targetFramework="MonoAndroid50" />
  <package id="MvvmCross.Core" version="4.1.0" targetFramework="MonoAndroid50" />
  <package id="MvvmCross.Platform" version="4.1.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.3" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Location" version="25.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="25.0.0.0" targetFramework="MonoAndroid50" />
</packages>