<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross.Core" version="4.3.0" targetFramework="monoandroid50" />
  <package id="MvvmCross.Platform" version="4.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.2" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.2" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Location" version="29.0.0.2" targetFramework="monoandroid50" />
  <package id="Xamarin.GooglePlayServices.Maps" version="29.0.0.2" targetFramework="monoandroid50" />
</packages>