name: dotnet format

on:
  push:
    branches: 
      - develop
      - master
      - feature/**
      - release/**
      - hotfix/**
  pull_request:
    branches: 
      - master
      - develop

jobs:
  lint:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x

    - name: Restore dependencies
      run: dotnet tool restore

    - name: Run dotnet format
      run: |
        dotnet format --verify-no-changes MvvmCross.sln